<ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0px);"> <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0%);">       
    <li>
        <div class="card search-wrap">
            <input ng-change="ctrl.makeSearch()" ng-model='ctrl.filter' class='input-search' placeholder="Search" id="first_name" type="text" class="validate">
            <i class="material-icons">search</i>
            </input>
        </div>
    </li>
    <li ng-repeat="contact in ctrl.contacts">
        <a class='u-flex u-items-center' href='' ui-sref='root.user({userID: contact.uid})'> <img class='mr3 br-100' height='40px' width='40px' ng-src="{{contact.profilePicture}}" alt="">{{contact.userName}}</a>
    </li>
</ul>
