<ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0px);"> <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0%);">    
    <li>
        <div class="card search-wrapper">
            <input ng-change="ctrl.makeSearch()" ng-model='ctrl.filter' class='search-input' placeholder="Search" id="first_name" type="text" class="validate">
            <i class="material-icons">search</i>
            </input>
        </div>
    </li>
    <li ng-repeat="contact in ctrl.contacts">
        <a href="">{{contact.name}}</a>
    </li>
</ul>
